
.header-container {
    height: 110px;
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    border-bottom: 5px solid #eb2839;
}

.header-container .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.header-container .advertisement .content {
    margin-right: 30px;
    margin-top: 5px;
    max-height: 110px;
}

.header-container .advertisement .content img {
    vertical-align: middle;
    width: 50%;
    height: 100%;
}

.header-container .page-header {
    height: 110px;
    text-align: center;
}

.header-container .page-header .big-logo {
    height: 80px;
    margin-top: 5px;
}

.header-container .page-header p {
    margin-top: -4px;
    font-weight: bold;
    white-space: nowrap;
}

.header-container .extra {
    text-align: left;
}

.header-container .extra .links {
    margin-top: 20px;
    margin-left: 30px;
}

.header-container .extra .buttons {
    text-align: left;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.header-container .extra .buttons .information:hover {
    cursor: pointer;
}

.header-container .advertisement {
    height: 110px;
    white-space: nowrap;
    text-align: right;
    padding: 0;
    right: -10px;
}

.header-container .advertisement #developed-by {
    margin-bottom: 0;
}

@media (max-width: 1500px) {
    .header-container .page-header .app-title {
        margin-top: 0px;
    }
}