/** User interface styles for the Trendy Lights app. */

.template {
    display: none;
}

/* Shared across all screen sizes. */

html,
body,
.futurewater,
.futurewater .map {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.futurewater .panel {
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 20px black;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.futurewater .settings {
    top: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90%;
    max-width: 600px;
    font-size: 14px;
}

.futurewater .settings .container h1 {
    color: #0042ff;
    font-weight: bold;
}

.futurewater .settings .container p {
    font-style: italic;
}

.futurewater .settings .bold {
    font-weight: bold;
}

.futurewater .settings .logo {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.futurewater .settings .settings-form {
    margin-bottom: 5px;
}

.futurewater .settings #information-button {
    margin-top: 20px;
}

.futurewater .settings .dates {
    padding-top: 20px;
}

.futurewater .settings #error-message {
    font-style: oblique;
}

.futurewater .settings .method-content {
    padding-top: 20px;
}

.futurewater .settings .validated-shapefile {
    display: none;
}

.futurewater .settings .markers .form-control {
    max-width: 150px;
}

.futurewater .settings .markers-table {
    max-height: 200px;
    overflow: auto;
}

.futurewater .settings .method-container {
    padding-top: 20px;
}

.futurewater .settings .method-container .markers-table .table tbody {
    font-size: 14px;
}

.futurewater .settings .method-container .markers-table .table .title {
    font-size: 12px;
}

.futurewater .settings .create-buttons {
    padding-top: 30px;
}

.futurewater .settings .create-buttons .download {
    padding-top: 20px;
    display: none;
    color: white;
}

.futurewater .settings .create-buttons .download #download-img {
    target-new: tab;
}

.futurewater .settings .download #download-csv {
    target-new: tab;
}

.futurewater .settings .nav-tabs > li > .active {
    color: black !important;
}

.futurewater .settings .nav-tabs > li > a:hover {

}

.hidden {
    display: none;
}

.futurewater .results {
    display: none;
}

.futurewater .results .error {
    display: none;
}

.futurewater .results h2 {
    margin: 0px;
    padding-bottom: 10px;
}

.futurewater .results .details {
    overflow: hidden;
    height: 80%;
    max-height: 500px;
}

.futurewater .results .details .chart {
    height: 100%;
}

.futurewater .radio-inline {
    padding-left: 25px;
}

/* Small screens. */
@media (max-height: 600px) {
    .futurewater .settings {
        top: 0;
    }
}

@media (max-width: 900px) {

    .futurewater .settings .logo {
        top: 22px;
        left: 30px;
    }

    .futurewater .panel {
        width: 100%;
        height: 60%;
    }

    .futurewater .results .details {
        visibility: hidden;
        max-height: 400px;
        padding-right: 10px;
    }

    .futurewater .results .close {
        display: none;
    }

    .futurewater .results .toggler {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .futurewater .results.expanded .details {
        visibility: visible;
    }

    .futurewater .results.expanded {
        height: 278px;
    }

}

/* Large screens. */

@media (min-width: 900px) {

    .futurewater .settings .logo {
        top: 30px;
    }

    .futurewater .settings #information {
        max-width: 750px;
    }

    .futurewater .settings {
        left: 20px;
        min-width: 650px;
        max-width: 800px;
        /*height: 98%;*/
        opacity: .98;
        border-radius: 4px;
    }

    .futurewater .results {
        width: 400px;
        left: 40px;
        top: 126px;
        padding: 14px;
        opacity: .98;
        border-radius: 4px;
    }

    .futurewater .results .close {
        position: absolute;
        top: 14px;
        right: 14px;
        cursor: pointer;
    }

    .futurewater .results .toggler {
        display: none;
    }
}
